<!DOCTYPE html>
<html>
<head>
  <title>Здоровое питание</title>
  <link rel="stylesheet/less" type="text/css" href="less/index.less" />
  
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/less.js"></script>
</head>
<body>
  <div class="right">
    <div class="user-params">
      <div class="inputs">
        Возраст: <input type="number" name="age" id="age" value="25" /><br>
        Рост (см): <input type="number" name="height" id="height" value="180" /><br>
        Масса (кг): <input type="number" name="weight" id="weight" value="80" /><br>
      </div>
      Пол: <label for="radio-male"><input id="radio-male" type="radio" name="sex" value="male" checked/>Мужской</label>
      <label for="radio-female"><input id="radio-female" type="radio" name="sex" value="female"/>Женский</label><br>
      Активность: <input type="range" name="activity" value="1.4" min="1.2" max="1.9" step="0.01" /><br>
      <div class="accept-container">
        <button class="accept">Сохранить</button>
      </div>
    </div>
    
    <div class="order-container">
      <input class="order-btn" type="button" value="Заказать" />
    </div>
  </div>
  
  <div class="dayRation">
    <div class="portion breakfast_one">
      <span class="title">Завтрак</span>
      <div class="products">
        
      </div>
      <div class="add"></div>
      <div class="variants"></div>
    </div>
    
    <div class="portion breakfast_two">
      <span class="title">Второй завтрак</span>
      <div class="products">
        
      </div>
      <div class="add"></div>
      <div class="variants"></div>
    </div>
    
    <div class="portion lunch">
      <span class="title">Обед</span>
      <div class="products">
        
      </div>
      <div class="add"></div>
      <div class="variants"></div>
    </div>
    
    <div class="portion dinner">
      <span class="title">Ужин</span>
      <div class="products">
        
      </div>
      <div class="add"></div>
      <div class="variants"></div>
    </div>
  </div>
  
  <div class="add-product-containter">
    <div class="add-product">
      <div class="title">Завтрак</div>
      <div class="searchButton">Поиск</div>
      <label for="search">Введите блюдо: </label>
      <div class="searchParent"><input type="search" class="search" id="search" /></div>
      <div id="searchResults" class="searchResults"></div>
      <div class="nextSearch">Далее</div>
    </div>
  </div>
  
  <div class="buy-containter">
    <div class="buy">
      <form action='https://sp-money.yandex.ru/oauth/authorize'>
      
        <input type="hidden" name="client_id" value="8BED8D8E7C744179D710516ED284B1C06D396FEBED52710A2E63A249526F0B11"/>
        <input type="hidden" name="response_type" value="code"/>
        <input type="hidden" name="redirect_uri" value="http://spbhack.ru/ym"/>
        <input type="hidden" name="scope" value="payment-p2p"/>
        
        <input class="auth btn" type="button" value="Купить" />
      </form>
      
      <div class="sellers">
        
      </div>
    </div>
  </div>
  
  <div class="status"> </div>
  <div class="product template">
    <span class="name"></span>, <span class="weight"></span> г.
    <div class="remove"></div>
  </div>
  <div class="searchResult template">
    <span class="name"></span>
  </div>
  <div class="seller template">
    <div class="name"></div>
    <div class="address"></div>
    <div class="price-containter"><span class="price"></span> руб.</div>
  </div>
  
  
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter26595909 = new Ya.Metrika({id:26595909,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26595909" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>