<!DOCTYPE html>
<html>
<head>
  <title>YM-test</title>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/less.js"></script>
</head>
<body>
  <form action='https://sp-money.yandex.ru/oauth/authorize'>
    <input type="hidden" name="client_id" value="3C8EB4377C987BA354A59F09A066375AEF4203E02EEDBFFB5B527EF99D1D7606"/>
    <input type="hidden" name="response_type" value="code"/>
    <input type="hidden" name="redirect_uri" value="http://portion.cloudapp.net:8080/ym-result"/>
    <input type="hidden" name="scope" value="operation-history"/>
    
    <input class="auth btn" type="submit">Авторизация</input>
  </form>
  <div class="status"> </div>
</body>
</html>