<!DOCTYPE html>
<html>
<head>
  <title>YM-test</title>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/register.js"></script>
  <script type="text/javascript" src="js/less.js"></script>
</head>
<body>
  <form action="/register" method="POST">
    Название организации: <input type="text" name="name"/><br>
    Пароль: <input type="text" name="pass"/><br>
    <input type="submit" name="register" value="Вход/Регистрация"/>
  </form>
  <div class="status"> </div>
</body>
</html>